<script type="text/javascript" >
    var S_FORUM_ID = '{S_FORUM_ID}';
    var S_TOPIC_ID = '{S_TOPIC_ID}';
    var minChars_forum = '{MIN_CHARS_FORUM}';
    
    var U_FORUM_REDIRECT = '{U_FORUM_REDIRECT}';
    var U_TOPIC_REDIRECT = '{U_TOPIC_REDIRECT}';
    
    var minChars_topic = '{MIN_CHARS_TOPIC}';
    var minChars_user = '{MIN_CHARS_USER}';

    var maxItemsToShow_forum = '{MAX_ITEMS_TO_SHOW_FORUM}';
    var maxItemsToShow_topic = '{MAX_ITEMS_TO_SHOW_TOPIC}';
    var maxItemsToShow_user = '{MAX_ITEMS_TO_SHOW_USER}';

    var LIVE_SEARCH_SHOW_IN_NEW_WINDOW = '{LIVE_SEARCH_SHOW_IN_NEW_WINDOW}';

</script>
<!-- INCLUDEJS jquery-ui.min.js -->
<!-- INCLUDEJS jquery.autocomplete.js -->
<!-- INCLUDEJS jquery.hoverIntent.minified.js -->
<!-- INCLUDEJS live_search.js -->
