{% include 'overall_header.html' %}

<h1>{{ lang('ACP_LIVE_SEARCH_SETTINGS') }}</h1>
<p>{{ lang('ACP_LIVE_SEARCH_SETTINGS_TOPICS_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_live_search" method="post" action="{{ U_ACTION }}">
    <input type="checkbox" id= "live_search_on_off_forum" name="live_search_on_off_forum"  class="radio" {{ CHECKED_FORUM }}  />&nbsp;{{ lang('LIVE_SEARCH_FORUM_ON') }}
    <div id='setting_f'>
        <fieldset >
	        <legend>{{ lang('ACP_LIVE_SEARCH_SETTINGS_FORUMS') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_forum">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_forum" name="live_search_min_num_symblols_forum"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_FORUM }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_max_items_to_show_forum">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_forum" name="live_search_max_items_to_show_forum"  min="1" max="50" value='{{ LIVE_SEARCH_MAX_ITEMS_TO_SHOW_FORUM }}'   /></dd>
	        </dl>        
        </fieldset>
    </div>

   <input type="checkbox" id= "live_search_on_off_topic" name="live_search_on_off_topic"  class="radio" {{ CHECKED_TOPIC }}  />&nbsp;{{ lang('LIVE_SEARCH_TOPIC_ON') }}
    <div id='setting_t'>
        <fieldset>
	        <legend>{{ lang('ACP_LIVE_SEARCH_SETTINGS_TOPICS') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_topic">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_topic" name="live_search_min_num_symblols_topic"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_TOPIC }}' /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_max_items_to_show_topic">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_topic" name="live_search_max_items_to_show_topic"  min="1" max="50" value='{{ LIVE_SEARCH_MAX_ITEMS_TO_SHOW_TOPIC }}' /></dd>
	        </dl>        
        </fieldset>
    </div>

   <input type="checkbox" id= "live_search_on_off_user" name="live_search_on_off_user"  class="radio" {{ CHECKED_USER }}  />&nbsp;{{ lang('LIVE_SEARCH_USER_ON') }}
    <div id='setting_u'>
        <fieldset>
	        <legend>{{ lang('ACP_LIVE_SEARCH_SETTINGS_USERS') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_user">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_user" name="live_search_min_num_symblols_user"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_USER }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_max_items_to_show_user">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_user" name="live_search_max_items_to_show_user"  min="1" max="50" value='{LIVE_SEARCH_MAX_ITEMS_TO_SHOW_USER}'   /></dd>
	        </dl>        
        </fieldset>
    </div>   

    <input type="checkbox" id= "live_search_on_off_similartopic" name="live_search_on_off_similartopic"  class="radio" {{ CHECKED_SIMILARTOPIC }}  />&nbsp;{{ lang('LIVE_SEARCH_SIMILARTOPIC_ON') }}
   <div id='setting_st'>
        <fieldset>
	        <legend>{{ lang('ACP_LIVE_SEARCH_SETTINGS_SIMILARTOPICS') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_user">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_similartopic" name="live_search_min_num_symblols_similartopic"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_SIMILARTOPIC }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_max_items_to_show_user">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_similartopic" name="live_search_max_items_to_show_similartopic"  min="1" max="50" value='{{ LIVE_SEARCH_MAX_ITEMS_TO_SHOW_SIMILARTOPIC }}'   /></dd>
	        </dl>        
        </fieldset>
    </div>   

    <input type="checkbox" id= "live_search_on_off_acp" name="live_search_on_off_acp"  class="radio" {{ CHECKED_ACP }}  />&nbsp;{{ lang('LIVE_SEARCH_ACP_ON') }}
    <div id='setting_acp'>
        <fieldset>
	        <legend>{{ lang('ACP_LIVE_SEARCH_SETTINGS_ACP') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_user_acp">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_USERS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_acp_user" name="live_search_min_num_symblols_acp_user"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_USER_ACP }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_min_num_symblols_acp_forum">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_FORUMS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_acp_forum" name="live_search_min_num_symblols_acp_forum"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_FORUM_ACP }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_min_num_symblols_acp_group">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_GROUPS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_acp_group" name="live_search_min_num_symblols_acp_group"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_GROUP_ACP }}'   /></dd>
	        </dl>        

            <dl>
		        <dt><label for="live_search_max_items_to_show_acp">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_acp" name="live_search_max_items_to_show_acp"  min="1" max="50" value='{LIVE_SEARCH_MAX_ITEMS_TO_SHOW_ACP}'   /></dd>
	        </dl>        
        </fieldset>
    </div>   
    <input type="checkbox" id= "live_search_on_off_mcp" name="live_search_on_off_mcp"  class="radio" {{ CHECKED_MCP }}  />&nbsp;{{ lang('LIVE_SEARCH_MCP_ON') }}
    <div id='setting_mcp'>
        <fieldset>
	        <legend>{{ lang('MCP_LIVE_SEARCH_SETTINGS_MCP') }}</legend>
            <dl>
		        <dt><label for="live_search_min_num_symblols_user_mcp">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_USERS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_user_mcp" name="live_search_min_num_symblols_mcp_user"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_USER_MCP }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_min_num_symblols_mcp_forum">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_FORUMS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_mcp_forum" name="live_search_min_num_symblols_mcp_forum"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_FORUM_MCP }}'   /></dd>
	        </dl>        
            <dl>
		        <dt><label for="live_search_min_num_symblols_mcp_group">{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_GROUPS') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MIN_NUM_SYMBLOLS_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_min_num_symblols_mcp_group" name="live_search_min_num_symblols_mcp_group"  min="1" max="5" value='{{ LIVE_SEARCH_MIN_NUM_SYMBLOLS_GROUP_MCP }}'   /></dd>
	        </dl>        

            <dl>
		        <dt><label for="live_search_max_items_to_show_mcp">{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW') }}{{ lang('COLON') }}</label><br /> 
                    <span>{{ lang('LIVE_SEARCH_MAX_ITEMS_TO_SHOW_EXPLAIN') }}</span>
                </dt>
		        <dd><input type="number" id="live_search_max_items_to_show_mcp" name="live_search_max_items_to_show_mcp"  min="1" max="50" value='{{ LIVE_SEARCH_MAX_ITEMS_TO_SHOW_MCP }}'   /></dd>
	        </dl>        
        </fieldset>
    </div>   

    <fieldset>
        <legend></legend>
        <dl>
			<dt><label for="live_search_show_in_new_window">{{ lang('LIVE_SEARCH_SHOW_IN_NEW_WINDOW') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" name="live_search_show_in_new_window" value="1" {% if LIVE_SEARCH_SHOW_IN_NEW_WINDOW %}checked{% endif %} class="radio"> {{ lang('YES') }}</label><label><input type="radio" name="live_search_show_in_new_window" value="0" {% if !LIVE_SEARCH_SHOW_IN_NEW_WINDOW %}checked{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>
        <dl>
			<dt><label for="live_search_show_for_guest">{{ lang('LIVE_SEARCH_SHOW_FOR_GUEST') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" name="live_search_show_for_guest" value="1" {% if LIVE_SEARCH_SHOW_FOR_GUEST %}checked{% endif %} class="radio"> {{ lang('YES') }}</label><label><input type="radio" name="live_search_show_for_guest" value="0" {% if !LIVE_SEARCH_SHOW_FOR_GUEST %}checked{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>
        <dl>
			<dt><label for="live_search_hide_after_select">{{ lang('LIVE_SEARCH_HIDE_AFTER_SELECT') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" name="live_search_hide_after_select" value="1" {% if LIVE_SEARCH_HIDE_AFTER_SELECT %}checked{% endif %} class="radio"> {{ lang('YES') }}</label><label><input type="radio" name="live_search_hide_after_select" value="0" {% if !LIVE_SEARCH_HIDE_AFTER_SELECT %}checked{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>

        <dl>
			<dt><label for="live_search_topic_link_type">{{ lang('LIVE_SEARCH_TOPIC_LINK_TYPE') }}{{ lang('COLON') }}</label><br />
                <span>{{ lang('LIVE_SEARCH_TOPIC_LINK_TYPE_EXPLAIN') }}</span>
            </dt>
			<dd><label><input type="radio" name="live_search_topic_link_type" value="1" {% if LIVE_SEARCH_TOPIC_LINK_TYPE %}checked{% endif %} class="radio"> {{ lang('YES') }}</label><label><input type="radio" name="live_search_topic_link_type" value="0" {% if !LIVE_SEARCH_TOPIC_LINK_TYPE %}checked{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>

       <dl>
			<dt><label for="live_search_use_eye_button">{{ lang('LIVE_SEARCH_USE_EYE_BUTTON') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" name="live_search_use_eye_button" value="1" <!-- IF LIVE_SEARCH_USE_EYE_BUTTON -->checked{% endif %} class="radio"> {{ lang('YES') }}</label><label><input type="radio" name="live_search_use_eye_button" value="0" <!-- IF !LIVE_SEARCH_USE_EYE_BUTTON -->checked{% endif %} class="radio"> {{ lang('NO') }}</label></dd>
		</dl>    
        <dl>
		    <dt><label for="live_search_exclude_forums">{{ lang('LIVE_SEARCH_EXCLUDE_FORUMS') }}{{ lang('COLON') }}</label><br /> 
                <span>{{ lang('LIVE_SEARCH_EXCLUDE_FORUMS_EXPLAIN') }}</span>
            </dt>
		    <dd><input type="txt" id="live_search_exclude_forums" name="live_search_exclude_forums"   value='{{ LIVE_SEARCH_EXCLUDE_FORUMS }}'  style='width:200px;'  /></dd>
	    </dl>        
    </fieldset>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
	{{ S_FORM_TOKEN }}
</fieldset>
</form>
{% include 'overall_footer.html' %}
