/* Live Search Desing */

.leave_search_contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}
.ls_search_user_pm
{
    position:absolute;
}

#leavesearch,
#leavesearch_btn {
	border-radius: 0px 0px 10px 10px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
	top: 0;
	z-index: 1;

	margin-left:0px;
	padding: 0 15px;
	background-color: white;
	position: fixed;
}
#leavesearch {
	line-height: 25px;
	background-color: white;
	width: 680px;
	height: 28px;
	display:none;
	padding: 3px 10px;
}
#leavesearch_btn {
	padding: 0 15px;
	cursor:pointer;
	font-weight: bold;
	height: 16px;
<<<<<<< HEAD
	/*display: none;*/
=======
	display: none;
>>>>>>> origin/master
}


#leavesearch_btn_close 
{
    float:right; 
    padding:2px 3px; 
    cursor:pointer ;
}

#forum_live_search {
	width: 120px;
}
#topic_live_search {
	width: 115px;
}
#user_live_search{
	width: 140px;
}

#user_handle .pointer 
{
    left: auto; 
    right: 10px;
}
#leavesearch-ShowHideBtn 
{
    background-image: url("./images/show-hide.png");
	cursor: pointer; 
	position: fixed; 
	top: 14px; 
	width:14px; 
	height:14px; 
}
.leavesearch-ShowHideBtn_open {
    background-position:  0 14px;
}
.leavesearch-ShowHideBtn_close {
    background-position:  0 0;
}


@media screen and (max-width: 700px) {
	/*#leavesearch-ShowHideBtn, #leavesearch, #leavesearch_btn { display: none !important; }*/
	
}


@media screen and (max-width: 700px) {
	#leavesearch-ShowHideBtn, #leavesearch, #leavesearch_btn { display: none !important; }
}
