/* Live Search Desing */

.leave_search_contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}
.ls_search_user_pm
{
    position:absolute;
}

#leavesearch,
#leavesearch_btn {
	border-radius: 0px 0px 10px 10px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
	top: 0;
	z-index: 5;

	margin-left:0px;
	padding: 0 15px;
	background-color: white;
	position: fixed;
}
#leavesearch {
	line-height: 25px;
	background-color: white;
	/*width: 680px;*/
	width:auto;
	height: 28px;
	display:none;
	padding: 3px 10px;
}
#leavesearch_btn {
	padding: 0 15px;
	cursor:pointer;
	font-weight: bold;
	height: 16px;
	/*display: none;*/
}


#leavesearch_btn_close 
{
    float:right; 
    padding:2px 3px; 
    cursor:pointer ;
}

#forum_live_search {
	width: 120px;
}
#topic_live_search {
	width: 115px;
}
#user_live_search{
	width: 140px;
}

#user_handle .pointer 
{
    left: auto; 
    right: 10px;
}

.phpbb_vk-icon {
	
  background: url("./images/vk.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 16px;
  position: relative;
  width: 16px;

}

/************user_topic and user_post menu********* */	
/**
* Breadcrumb Menu - Theme
*/

#leavesearch-menu .dropdown {
	position: absolute;
	font-size: 1.1em;
}

#leavesearch-menu .hidden {
	display: none;
}

#leavesearch-menu .dropdown-contents {
	max-height: inherit;
	max-width: 250px !important;
	min-width: 130px;
	overflow: visible;
}

#leavesearch-menu li {
	margin: 0;
	padding: 0;
	position: relative;
}

#leavesearch-menu li:first-child {
	border-top: none;
	margin: 0;
}

#leavesearch-menu a {
	display: block;
	font-weight: normal;
	padding: 4px 12px 4px 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#leavesearch-menu .dropdown-left a {
	padding-left: 10px;
	padding-right: 4px;
}
#leavesearch-menu .children > a:before {
	content: '\203A';
	font-weight: bold;
	position: absolute;
	right: 2px;
}
#leavesearch-menu .dropdown-left .children > a:before {
	content: '\2039';
	left: 1px;
	right: auto;
}

#leavesearch-menu a:hover,
#leavesearch-menu .ui-state-active {
	background: rgba(100,100,100,0.05);
}
#leavesearch-menu .current > a {
	background: rgba(100,100,100,0.05);
}

#leavesearch-menu .children .dropdown-contents {
	position: absolute;
}

#leavesearch-menu .dropdown-up {
	padding: 0 0 9px;
}
#leavesearch-menu .dropdown-left .pointer {
    left: auto;
    right: 10px;
}

.rtl #leavesearch-menu .children > a:before {
	content: '\2039';
}
.rtl #leavesearch-menu .dropdown-left .children > a:before {
	content: '\203A';
}


/* responsive design */
@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	#leavesearch-menu .dropdown-contents {
		min-width: inherit;
	}
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
	#leavesearch-menu .dropdown-contents {
		max-width: 220px !important;
	}
}

