 {% if S_LIVE_SEARCH %} 
 <div id='livesearch_btn' class='livesearch-btn'>{{ lang('LIVE_SEARCH_CAPTION') }}</div>
    <div id='livesearch'  class='livesearch'>
	<span  class="livesearch-btn-close"  title='{{ lang('CLOSE_WINDOW') }}'>
		<i class="icon fa-times fa-fw"></i>
	</span>
	  
	  {% if LIVE_SEARCH_ON_OFF_FORUM %} 
        <label for="forum-live-search">{{ lang('LIVE_SEARCH_FORUM') }}{{ lang('COLON') }}</label>
        <input  class="inputbox search tiny forum-live-search" type=search placeholder="{{ lang('LIVE_SEARCH_FORUM_TXT') }}"  title="{{ lang('LIVE_SEARCH_FORUM_T') }}" />
      {% endif %}
      {% if LIVE_SEARCH_ON_OFF_TOPIC %}
        <label for="topic-live-search" >{{ lang('LIVE_SEARCH_TOPIC') }}{{ lang('COLON') }}</label>
        <input class="inputbox search tiny topic-live-search" type=search placeholder="{{ lang('LIVE_SEARCH_TXT') }}"  title="{{ lang('LIVE_SEARCH_T') }}" />
      {% endif %}

      {% if LIVE_SEARCH_ON_OFF_USER %} 
        <label for="user-live-search" >{{ lang('LIVE_SEARCH_USER') }}{{ lang('COLON') }}</label>
        <input class="inputbox search tiny user-live-search" type=search placeholder="{{ lang('LIVESEARCH_USER_TXT') }}"  title="{{ lang('LIVESEARCH_USER_T') }}" autocomplete="off" /> 
        <div  class="user-handle dropdown hidden" >
		<div class="pointer">
            <div class="pointer-inner">
        </div>
    </div>
    <div class="dropdown-contents contact-icons ls-contacts"></div>
  
    <ul class="dropdown-contents ls-contact-menu" role="menu" >
        <li>{{ lang('LIVE_SEARCH_TOPICS_BY_USER') }}
            <ul>
                <li ><a class="topics-live-search-board" href="javascript:void(0);" role = "menuitem" title = "{{ lang('LIVE_SEARCH_TOOLTIP_ALL') }}"> {{ lang('LIVE_SEARCH_TOPICS_BY_USER_BOARD') }}</a></li>
                {% if S_FORUM_ID %}
                    <li >
                        {% if S_FORUM_EXCLUDE %}
                            <span  title='{{ lang('LIVESEARCH_USERTOPIC_DISABLED') }}' class='livesearch-disable'>{{ lang('LIVE_SEARCH_TOPICS_BY_USER_FORUM') }}</span>
                        <!-- ELSE -->
                            <a class="topics-live-search-forum" href="javascript:void(0);" role = "menuitem" title = "{{ lang('LIVE_SEARCH_TOOLTIP_BY_FORUM') }} {FORUM_NAME}"> {{ lang('LIVE_SEARCH_TOPICS_BY_USER_FORUM') }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
     <ul class="dropdown-contents ls-contact-menu" role="menu" >
        <li>{{ lang('LIVE_SEARCH_POSTS_BY_USER') }}
            <ul>
                <li ><a class="posts-live-search-board" href="javascript:void(0);" role = "menuitem" title = "{{ lang('LIVE_SEARCH_TOOLTIP_ALL') }}"> {{ lang('LIVE_SEARCH_POSTS_BY_USER_BOARD') }}</a></li>
                {% if S_FORUM_ID %}
                     <li >
                        {% if S_FORUM_EXCLUDE %}
                            <span  title='{{ lang('LIVESEARCH_USERTOPIC_DISABLED') }}' class='livesearch-disable'>{{ lang('LIVE_SEARCH_TOPICS_BY_USER_FORUM') }}</span>
                            {% else %}
                            <a class="posts-live-search-forum" href="javascript:void(0);" role = "menuitem" title = "{{ lang('LIVE_SEARCH_TOOLTIP_BY_FORUM') }} {FORUM_NAME}"> {{ lang('LIVE_SEARCH_POSTS_BY_USER_FORUM') }}</a>
                        {% endif %}
                    </li>
                {% endif %}
                {% if S_TOPIC_ID %}
                      <li >
                        {% if S_FORUM_EXCLUDE %}
                            <span  title='{{ lang('LIVESEARCH_USERPOST_DISABLED') }}' class='livesearch-disable'>{{ lang('LIVE_SEARCH_POSTS_BY_USER_TOPIC') }}</span>
                        {% else %}
                            <a class="posts-live-search-topic" href="javascript:void(0);" role = "menuitem" title = "{{ lang('LIVE_SEARCH_TOOLTIP_BY_TOPIC') }} {TOPIC_TITLE}"> {{ lang('LIVE_SEARCH_POSTS_BY_USER_TOPIC') }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </ul>
	</div>
   {% endif %}

  

</div>
{% endif %}
